<h1><%= current_user.email %></h1>
<% if @current_cart %>
  <% @current_cart.line_items.each do |line_item| %>
    <h2><%= line_item.item.title %></h2>
    <h2>Quantity: <%= line_item.quantity %></h2>
    <p><%= number_to_currency((line_item.item.price / 100) *  line_item.quantity) %></p>
  <% end %>
  <% if @current_cart.status == 'not submitted' %>
    <%= button_to 'Checkout', checkout_path %>
  <% end %>
<% end %>
