<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Store Home", store_path %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <%= nav_link 'Sign out', destroy_user_session_path, :delete %>
        <% else %>
        <%= nav_link 'sign in', new_user_session_path %>
        <%= nav_link 'Sign up', new_user_registration_path %>
        <% end %>    
      </ul>
      <% if user_signed_in? %>
        <span class="navbar-text">
          Signed in as <%= current_user.email %>
        </span>
      <% end %>

    </div>
  </div>
</nav>
