<nav class="">
  <ul>
		<% flash.each do |name, msg| %>
			<% if msg.is_a?(String) %>
				<%= content_tag :div, msg, :class => "flash_#{name}" %>
			<% end %>
		<% end %>
		
    <li> <%= link_to "Store Home", store_path %> </li>
    <% if current_user %>
    	<li>Signed in as <%= current_user.email %></li>
    	<% if current_user.current_cart %>
      	<li> <%= link_to "Cart", cart_path(current_user.current_cart) %></li>
    	<% end %>
    	<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    <% else%>
    	<li><%= link_to "sign in", new_user_session_path %></li>
    	<li><%= link_to "Sign up", new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>